//
// Buttons
//

// Base styles

.btn
  display: inline-block
  text-align: center
  text-decoration: none
  white-space: nowrap
  cursor: pointer
  padding: $global-spacing-unit-small $global-spacing-unit
  transition: $global-transition-base
  border-radius: $global-radius
  border: none

  box-sizing: border-box
  // vertical-align: middle
  // font: inherit // Often necessary when styling inputs as buttons

  &:hover,
  &:active,
  &:focus
    outline: 0
    // transform: scale(1.01)
    transform: translateY(3px)
    filter: brightness(125%)

  &:disabled
    opacity: 0.25
    cursor: default
    pointer-events: none





// Style variants

.btn-primary
  color: $global-theme-color-light
  background-color: $global-theme-color-primary
  // box-shadow: $global-shadow


.btn-secondary
  color: $global-theme-color-primary
  background-color: $global-theme-color-light


.btn-tertiary





// Size variants

.btn-small
  padding: $global-spacing-unit-tiny $global-spacing-unit-small


.btn-large
  padding: $global-spacing-unit $global-spacing-unit-large





// Ghost buttons
// They have see-through backgrounds and are bordered.

.btn-ghost
  background: none
  border: $global-border-width-base solid currentColor
  padding: ($global-spacing-unit-small - $global-border-width-base) ($global-spacing-unit - $global-border-width-base)

  &.btn-small
    padding: ($global-spacing-unit-tiny - $global-border-width-base) ($global-spacing-unit-small - $global-border-width-base)

  &.btn-large
    padding: ($global-spacing-unit - $global-border-width-base) ($global-spacing-unit-large - $global-border-width-base)

  &.btn-primary
    color: $global-theme-color-primary

  &.btn-secondary
    color: $global-theme-color-light

  &.btn-tertiary
