//
// Links
//

// Basic link styles

a
  // Anchors by default will inherit their color. To make them stand
  // out with your primary color, use the `.link` class.
  color: inherit
  text-decoration: none
  outline: 0
  transition: $global-transition-navigation

  &:hover,
  &:focus





// Style variants

.link
  color: $global-theme-color-primary


.link-underlined
  @include link-underline(currentColor, 1px, 100%)

  &:hover,
  &:focus
    @include link-underline(lighten($global-theme-color-dark, 66%), 1px, 100%)


.link-underlined-on-hover

  &:hover,
  &:focus
    @include link-underline(currentColor, 1px, 100%)





// Icon variants

.link-arrowed,
.link-external
  position: relative

  &:after
    font-size: 0.8em
    color: inherit
    position: absolute
    bottom: 0
    vertical-align: baseline
    transform: translateX(50%)


.link-arrowed

  &:after
    content: "\2192"


.link-external

  &:after
    content: "\2197"
    bottom: -0.2em
