//
// Page-level setup
//

// Base page styles

.page





// Page style variants

.page-dark
  background-color: $global-theme-color-dark
  color: $global-theme-color-light


.page-gradient-100
  background-color: $global-theme-color-secondary
  background: $global-gradient-100
  color: $global-theme-color-light


.page-gradient-200
  background-color: $global-theme-color-secondary
  background: $global-gradient-200
  color: $global-theme-color-light
