//
// Footer
//

.footer


.footer-link
  margin-right: $global-spacing-unit-small

  @include mq(tablet)
    margin-right: $global-spacing-unit-tiny

  @include mq(desktop)
    margin-right: $global-spacing-unit
