//
// Particles.js
//
// See: https://vincentgarreau.com/particles.js/
//

#particles-js
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  // background-color: $global-theme-color-secondary
  // background: $global-gradient-100
  // background-image: url('')
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat
  overflow: hidden

  // canvas
