// Baseline grid lines height.
// Every spacing metric should be based on this.

$global-baseline:                       8px





// How many grid lines should our spacing unit variants span?
// Each value should be an unitless integer.

$global-spacing-unit-factor-tiny:       1   // 8px
$global-spacing-unit-factor-small:      2   // 16px
$global-spacing-unit-factor:            3   // 24px
$global-spacing-unit-factor-large:      6   // 48px
$global-spacing-unit-factor-huge:       8   // 64px
$global-spacing-unit-factor-gigantic:   16  // 128px





// Spacing values are determined based on the project's baseline grid.
// It's not recommended to modify the following variables.

$global-spacing-unit-tiny:              $global-baseline * $global-spacing-unit-factor-tiny
$global-spacing-unit-small:             $global-baseline * $global-spacing-unit-factor-small
$global-spacing-unit:                   $global-baseline * $global-spacing-unit-factor
$global-spacing-unit-large:             $global-baseline * $global-spacing-unit-factor-large
$global-spacing-unit-huge:              $global-baseline * $global-spacing-unit-factor-huge
$global-spacing-unit-gigantic:          $global-baseline * $global-spacing-unit-factor-gigantic





// Colors

$global-color-primary:                  rgba(50,50,255, 1)
$global-color-text-dark:                #000
$global-color-text-light:               #fff
$global-color-background-dark:          #000
$global-color-background-light:         #fff
$global-color-selection:                #fff498





// Typography

$global-font-sans:                      'IBM Plex Sans', sans-serif
$global-weight-regular:                 400
$global-weight-medium:                  500

// $sans:                                  (font-family: "'IBM Plex Sans', sans-serif", regular: 400, medium: 500)





// Before we can do anything, we need to know the base font-size and line-height.
// By default, we assign the base line-height to the global-spacing-unit.
// This value then becomes the cornerstone of our UI, acting as the default
// margin and padding value for any components that require it.

$global-font-size:                      16px
$global-line-height:                    $global-spacing-unit





// Modular type scale
//
// We have all of our font sizes defined here. Passing these pixel
// values into our `mq-font-size()` and subsequently into `font-size()` mixins
// will generate a rem-based `font-size` with a pixel fallback, as well as
// generating a `line-height` that will sit on our baseline grid.
//
// Desktop: base = 19px, ratio = 1:1.618    (golden section)
// Tablet:  base = 19px, ratio = 2:3 = 1.5  (perfect fifth)
// Mobile:  base = 16px, ratio = 3:4 = 1.33 (perfect fourth)
//
// Optionally, we could also specify a `line-height` for each `font-size` within
// the map, such as: `mobile: (font-size: 16px, line-height: auto, modifier: +2)`.
// This would get passed to the `font-size()` mixin. However, additional logic
// is required.
// For this particular purpose, see:
// https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/

$global-mq-font-sizes-h1:               (mobile: 67px, tablet: 144px, desktop: 211px)
$global-mq-font-sizes-h2:               (mobile: 51px, tablet: 96px,  desktop: 130px)
$global-mq-font-sizes-h3:               (mobile: 38px, tablet: 64px,  desktop: 80px)
$global-mq-font-sizes-h4:               (mobile: 28px, tablet: 43px,  desktop: 50px)
$global-mq-font-sizes-h5:               (mobile: 21px, tablet: 29px,  desktop: 31px)
$global-mq-font-sizes-body:             (mobile: 16px, tablet: 19px,  desktop: 19px)
$global-mq-font-sizes-button:           14px
$global-mq-font-sizes-caption:          12px
$global-mq-font-sizes-overline:         10px





// Max width

$global-max-width:                      1390px
// $global-max-width:                      1410px





// Breakpoints

$global-mq-breakpoints:                 (mobile: 320px, tablet: 740px, desktop: 980px, wide: 1600px)





// Wrapper

$global-mq-site-margins:                $global-spacing-unit
// $global-mq-site-margins:                10px
// $global-mq-site-margins:                (mobile: 44px, tablet: 66px, desktop: 144px)





// Grid

$global-mq-gutters:                     $global-spacing-unit

// $global-mq-gutters:                     (mobile: $global-spacing-unit, tablet: $global-spacing-unit-large, desktop: $global-spacing-unit-huge)





// Other variables

// Radii

$global-radius-small:                   2px
$global-radius:                         4px
$global-radius-large:                   $global-spacing-unit





// Borders

$global-border-width:                   2px





// Transitions

// Syntax:
// transition: property duration timing-function delay | initial | inherit
//
// Usage:
// .button
//   transition: $global-transition

$global-transition:                     all 300ms ease-in-out





// Shadows

// Syntax:
// box-shadow: none | h-offset v-offset blur spread color
//
// Usage:
// .button
//   box-shadow: $global-shadow

$global-shadow:                         0 12px 10px -10px rgba(50,50,50, 0.2)





// Navigation

$global-navbar-height:                  70px
